*{
    margin:0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: black;
    }

nav{
    position:fixed;
    width:100%;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 60px;
    background-color: #7B2CBF;


}

#font{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin:auto;
    width:1400px;
}
a{
    text-decoration: none;
}

h2,h4{
    padding: 15px;
}

.bio{
    padding : 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin:auto;

}

.det{
    padding: 40px;
}

#me{
    width : 300px;
    height: 285px;
    border-radius : 50%;
}

#qot{
    text-align: center;
    padding-bottom: 100px;
}


.ele{
    padding-left: 200px;
    display: flex;
}
#book{
    width : 500px;
    padding: 30px;
}

.links{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dyam{
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}

.pic{
    display: flex;
    flex-direction: row;
}


#picz{
    height: 400px;
    padding: 20px;
}

.show{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

footer{
    width:100%;
    height: 100px;
    background-color: #7B2CBF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


button{
    padding: 10px;
    color:black;
    border: none;
    border-radius: 25px;
    background-color: white;
    margin-left: auto;

}

#ifo{
    padding-top: 20px;
    padding: 20px;
    width: 500px;
}

.info
{
    display: flex;
    flex-direction: column;
}

.but{
    padding: 20px;
}

#logo{
    width:70px;
    padding:20px;
}

.disc{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.socials{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
